/* @import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
  font-family: monospace;
  color: #606060;
}
nav {
  width: 126px;
  border-radius:60px;
}
.site-logo{
  margin-left: 150px;
  padding-top: 20px;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.menu ul {
  background: #58c3c9;
  border-radius: 20px;
  text-align: center;
}
.menu .submenu {
  -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  background: #58c3c9;
}
.menu ul li:hover .submenu {
  -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
.menu ul a {
  color: #black;
}
.submenu li a {
  border-bottom: 1px solid rgba(255,255,255,.3);
  color: black;
} */
/* element.style {
}

html {
    font-family: "Uni Sans";
}
@media only screen and (min-width: 992px)

html {
    font-size: 14.5px;
}
@media only screen and (min-width: 0)

html {
    font-size: 14px;
}

html {
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

html {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    text-size-adjust: 100%;
}
@media only screen and (min-width: 992px)

html {
    font-size: 14.5px;
}
@media only screen and (min-width: 0)

html {
    font-size: 14px;
}

html {
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

html {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    text-size-adjust: 100%;
}

html {
    font-family: sans-serif;
    text-size-adjust: 100%;
}

*, ::before, ::after {
    box-sizing: inherit;
}

*, ::before, ::after {
    box-sizing: inherit;
}
html[Attributes Style] {
    -webkit-locale: "en";
    direction: ltr;
    unicode-bidi: isolate;
}
user agent stylesheet
html {
    display: block;
    color: -internal-root-color;
}

*, ::before, ::after {
    box-sizing: inherit;
}

*, ::before, ::after {
    box-sizing: inherit;
}

*, ::before, ::after {
    box-sizing: inherit;
}

*, ::before, ::after {
    box-sizing: inherit;
} */
nav .nav-wrapper {
    position: relative;
    height: 100%;
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
}
.avis-grey-text, .block-photo-video-slider .slick--optionset--fullwidth-slider .paragraph--type--gallery-html .main-slider-slide-1 .main-slider-slide-container .slide-menu .slide-menu-item a, .block-photo-video-slider .slick--optionset--simple-carousel .image-alt a, .features, nav * {
    color: #333333 !important;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
header nav {
    padding-top: 25px;
    padding-bottom: 10px;
    height: auto;
    line-height: 1;
    box-shadow: none;
}
nav {
    color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
nav {
    color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
html {
    font-family: "Uni Sans";
}
@media only screen and (min-width: 0)
html {
    font-size: 14px;
}
html {
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
@media only screen and (min-width: 0)
html {
    font-size: 14px;
}
html {
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
<style>
html {
    font-family: sans-serif;
    text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
